@font-face {
    font-family: "Alegreya Sans SC";
    font-style: normal;
    font-weight: 500;
    src: local("Alegreya Sans SC Medium"), local("AlegreyaSansSC-Medium"), url(https://fonts.gstatic.com/s/alegreyasanssc/v6/AjAmkoP1y0Vaad0UPPR46xOdcOOfPHgKP68z5TldyPo.woff2) format("woff2");
}

html, body, #bg-image {
    font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
    height: 100vh;
    color: #f5f5f5;
}

#bg-image {
    background: url(https://tz49q191hubp5f4qy2ym714z-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/bluebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#credits-div, #bet-div, #deal-div {
    margin-bottom: 20px;
}

.card {
    height: 200px;
    margin: 20px 10px 30px 10px;
}

.input-group {
    font-size: 16px;
    color: #333333;
    margin-top: 15px;
    padding: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 3px;
}

@media (max-width: 480px) {
    .card {
        height: 150px;
    }
}